@font-face {
  font-family: Roboto-100;
  src: url(../fonts/roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: Roboto-300;
  src: url(../fonts/roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-500;
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-700;
  src: url(../fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-900;
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-1100;
  src: url(../fonts/roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: Dancing;
  src: url(../fonts/dancing.ttf);
}
/* line 37, ../sass/index.scss */
body {
  font-family: Roboto-500;
  margin: 0;
  padding: 0;
  background-color: #ecf0f1;
}

/* line 45, ../sass/index.scss */
.header-wrap {
  background-color: #333;
  height: 100%;
}

/* line 49, ../sass/index.scss */
.header {
  color: white;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 56, ../sass/index.scss */
.header .image {
  height: 100%;
  background: #333 url(../images/header.jpg) center 0 no-repeat fixed;
  background-size: cover;
  opacity: 0.30;
}
/* line 63, ../sass/index.scss */
.header .content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
/* line 71, ../sass/index.scss */
.header .content h1 {
  font-size: 80px;
  letter-spacing: 2px;
  margin: 15px;
  font-family: Dancing;
}
/* line 78, ../sass/index.scss */
.header .content .divider {
  height: 1px;
  background-color: white;
  width: 40%;
  min-width: 500px;
}
/* line 85, ../sass/index.scss */
.header .content h2 {
  font-family: Roboto-100;
}

/* line 91, ../sass/index.scss */
#navbar {
  width: 100%;
  background-color: #2b2d36;
  padding: 15px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: absolute;
  z-index: 2;
  color: white;
}
/* line 100, ../sass/index.scss */
#navbar .left {
  float: left;
}
/* line 103, ../sass/index.scss */
#navbar .left img {
  height: 50px;
}
/* line 108, ../sass/index.scss */
#navbar .right {
  float: right;
  color: white !important;
}
/* line 111, ../sass/index.scss */
#navbar .right i.fa {
  color: white;
}
/* line 116, ../sass/index.scss */
#navbar span {
  margin: 0 15px;
}
/* line 118, ../sass/index.scss */
#navbar span a {
  margin: 0 5px;
}
/* line 123, ../sass/index.scss */
#navbar a {
  color: black;
  text-decoration: none;
}
/* line 128, ../sass/index.scss */
#navbar.fixed {
  position: fixed;
  top: 0;
}

/* line 134, ../sass/index.scss */
.global {
  max-width: 984px;
  margin: 70px auto;
}

/* line 139, ../sass/index.scss */
.we {
  background: #333 url(../images/header2.jpg) center 0 no-repeat fixed;
  background-size: cover;
  width: 100%;
  clear: both;
  padding: 50px 0;
  margin-top: 20px;
  color: white;
  float: left;
}
/* line 149, ../sass/index.scss */
.we h3 {
  text-align: center;
  font-size: 30px;
  margin-top: 0;
}
/* line 155, ../sass/index.scss */
.we .desc-wrapper {
  width: 50%;
  float: left;
}
/* line 160, ../sass/index.scss */
.we .gabriel, .we .mathilde {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  margin: 20px 80px;
  padding: 20px;
  border-radius: 5px;
  font-family: Roboto-100;
}
/* line 168, ../sass/index.scss */
.we .gabriel img, .we .mathilde img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
/* line 174, ../sass/index.scss */
.we .gabriel p, .we .mathilde p {
  margin: 25px;
}

/* line 180, ../sass/index.scss */
.img-wrapper {
  width: 33.33%;
  height: 300px;
  float: left;
  margin: 14px 0;
}
/* line 186, ../sass/index.scss */
.img-wrapper .image {
  height: 100%;
  max-width: 300px;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  position: relative;
  transition: transform 0.3s ease, display 0.3s ease;
}
/* line 195, ../sass/index.scss */
.img-wrapper .image:hover {
  transform: scale(1.05);
}
/* line 199, ../sass/index.scss */
.img-wrapper .image:hover span {
  display: block;
}
/* line 203, ../sass/index.scss */
.img-wrapper .image span {
  z-index: 1;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: Roboto-100;
  letter-spacing: 2px;
}
/* line 216, ../sass/index.scss */
.img-wrapper .image span p {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}
/* line 226, ../sass/index.scss */
.img-wrapper .image img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/* line 234, ../sass/index.scss */
footer {
  background-color: #2b2d36;
  color: #adb6be;
  width: 100%;
  font-size: 15px;
  clear: both;
}
/* line 241, ../sass/index.scss */
footer .content {
  max-width: 984px;
  margin: 0 auto;
  padding: 20px 0;
}
/* line 246, ../sass/index.scss */
footer .content .col-footer {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}
/* line 251, ../sass/index.scss */
footer .content .col-footer h3 {
  margin: 10px 0;
}
/* line 255, ../sass/index.scss */
footer .content .col-footer ul {
  font-family: Roboto-100;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
